<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <!-- Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <!-- Style -->
  <link rel="stylesheet" href="all-tests.css" />
  <!-- Logo -->
  <link rel="icon" href="img/orange.png" type="image/x-icon" />
  <!--  JS   -->
  <script defer src="all-tests.js"></script>
  <title>Orange</title>
</head>

<body>
  <!-- SVG -->
  <svg id="wave" viewBox="0 0 1440 590" class="transition duration-300 ease-in-out delay-150" version="1.1">
    <defs>
      <linearGradient id="gradient" x1="50%" y1="100%" x2="50%" y2="0%">
        <stop stop-color="rgba(255,115,92)" offset="0%"></stop>
        <!-- <stop stop-color="rgba(27, 48, 53, 1)" offset="100%"></stop> -->
      </linearGradient>
    </defs>
    <path
      d="M 0,600 C 0,600 0,300 0,300 C 162,306.1333333333333 324,312.2666666666667 506,292 C 688,271.7333333333333 890,225.06666666666666 1049,222 C 1208,218.93333333333334 1324,259.4666666666667 1440,300 C 1440,300 1440,600 1440,600 Z"
      stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1"
      class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 300)"></path>
  </svg>

  <div class="wrapper">
    <!-- Navbar -->
    <div id="navbar" class="container d-flex justify-content-between w-100">
      <div class="m-4">
        <img src="img\orange.png" alt="logo" id="logo" class="shadow" />
      </div>

      <div class="m-4 d-flex">
        <input id="search" class="form-control form-conrol-sm shadow" type="text" placeholder="Search Subject">
        <i id="search-icon" class="fas fa-search"></i>
      </div>
    </div>

    <!-- Title -->
    <div class="container">
      <div class="row">
        <div id="title" class="col-12 display-4 text-center text-white">
          Take A Test
        </div>
      </div>
    </div>

    <!-- Cards -->
    <div id="subjects-container" class="container mb-3">
      <ul id="subjects" class="text-center m-sm-5 p-0">
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>C++</span> Mock Test 2022-23 (Featured)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary mb-3" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>Python</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>C#</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>Java</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>NodeJS</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>PHP</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>Blockchain</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>Angular</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>MongoDB</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>Angular</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>MongoDB</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>Angular</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>MongoDB</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>Angular</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>MongoDB</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>Angular</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>MongoDB</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>Angular</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>MongoDB</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>Angular</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>MongoDB</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>Angular</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>MongoDB</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>Angular</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
        <li class="card m-md-2 shadow">
          <h4 class="m-4 mb-0 p-2">
            <span>MongoDB</span> Mock Test 2022-23 (Latest Pattern)
          </h4>
          <p>23 Total Tests | 2 Free Tests</p>
          <a class="view-test-button btn btn-primary" target="_blank">View Tests ➡️</a>
        </li>
      </ul>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <h1 id="modal-heading">Avialable Tests</h1>
        <span class="close" id="exit">&times;</span>
        <ul class="list-of-tests">
          <button class="tests-cards"><li><h3>By Nikhil</h3></li></button>
          <button class="tests-cards"><li><h3>By Raunak</h3></li></button>
          <button class="tests-cards"><li><h3>By Piyush</h3></li></button>
        </ul>
      </div>
    </div>

    <!-- Footer -->
    <footer class="p-3 bg-dark text-white text-center position-relative">
      <div class="container">
        <p class="lead">&copy; Copyright Orange Ltd.</p>
      </div>
    </footer>
  </div>
  <script>
    const createOrder = () => {
            // let amount = document.getElementById("amount").value;
            let amount = 300000;
            fetch("/payment", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ amount: Number(amount) }),
            })
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    console.log(JSON.stringify(data) ,"123");
                    let options = {
                        key: "rzp_test_DNmKMyeVTLZyts",
                        amount: Number(data.amount),
                        currency: "INR",
                        name: "Orange",
                        description: "Payment for order " + data.order_id,
                        order_id: data.order_id,
                        handler: response => {
                            // Payment successful, handle the response
                            console.log(response,"456");
                        },
                        prefill: {
                            email: "gyunther@orange.com",
                            contact: "9999999999",
                        },
                        theme: {
                            color: "#F37254",
                        },
                    };
                    let test1 = new Razorpay(options);
                    test1.open();
                })
                
        }
        document.querySelector(".tests-cards").onclick = e =>{
            console.log('click')
            e.preventDefault();
            createOrder();
        };
        // var { validatePaymentVerification } = require('./dist/utils/razorpay-utils');

        // validatePaymentVerification({ "order_id": razorpayOrderId, "payment_id": razorpayPaymentId }, signature, secret);

  </script>
</body>

</html>